# Chapter 2: Begin Machine Learning

In [1]:
## Load Data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['figure.figsize'] =(15,5)

In [8]:
def identify_blanks(df):
    t = len(df)
    for each in df.columns:
        i = len(df.loc[df[each].isnull()])
        pct = int((i/t)*100)
        print(f'Column {each} has {i} missing values out of {t}.  {pct}%')

In [11]:
#Load in modified dataset
df = pd.read_csv('../data/modified/df4.csv')
df.drop(columns='Unnamed: 0', inplace=True)

In [12]:
df

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Label,Survived,Total,Prefix,Age_Bins,Fare_Bins
0,1,female,39.0,0,0,108.9000,C,test,NaN,0,Dona,female_under_50,Greater than or equal to $50
1,1,female,49.0,0,0,25.9292,S,train,1.0,0,Dr,female_under_50,Less than $50
2,1,female,48.0,1,0,39.6000,C,train,1.0,0,Lady,female_under_50,Less than $50
3,1,female,22.0,0,1,61.9792,C,test,NaN,0,Miss,female_under_50,Greater than or equal to $50
4,1,female,28.0,3,2,263.0000,S,test,NaN,0,Miss,female_under_50,Greater than or equal to $50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,2,male,54.0,1,0,26.0000,S,train,0.0,0,Rev,male_over_17,Less than $50
1305,2,male,57.0,0,0,12.3500,Q,train,0.0,0,Rev,male_over_17,Less than $50
1306,2,male,28.0,0,1,33.0000,S,train,0.0,0,Rev,male_over_17,Less than $50
1307,2,male,27.0,0,0,13.0000,S,train,0.0,0,Rev,male_over_17,Less than $50
1308,1,male,49.0,1,0,56.9292,C,train,1.0,0,Sir,male_over_17,Greater than or equal to $50

In [13]:
identify_blanks(df)

Column Pclass has 0 missing values out of 1309.  0%
Column Sex has 0 missing values out of 1309.  0%
Column Age has 0 missing values out of 1309.  0%
Column SibSp has 0 missing values out of 1309.  0%
Column Parch has 0 missing values out of 1309.  0%
Column Fare has 1 missing values out of 1309.  0%
Column Embarked has 2 missing values out of 1309.  0%
Column Label has 0 missing values out of 1309.  0%
Column Survived has 418 missing values out of 1309.  31%
Column Total has 0 missing values out of 1309.  0%
Column Prefix has 0 missing values out of 1309.  0%
Column Age_Bins has 0 missing values out of 1309.  0%
Column Fare_Bins has 1 missing values out of 1309.  0%

In [14]:
df.loc[df['Fare_Bins'].isnull()]

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Label,Survived,Total,Prefix,Age_Bins,Fare_Bins
904,3,male,60.5,0,0,NaN,S,test,NaN,0,Mr,male_over_17,NaN